.account-overview {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background: #f9f9f9;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .account-overview p {
    margin: 8px 0;
  }

  .detail{
    display: flex;
    gap: 80px;
  }
  