

  .user-profile-container {
    display: flex;
    justify-content: space-between; /* Space between the components */
    align-items: flex-start; /* Aligns items at the top */
    gap: 20px;;
    padding: 20px 20px;
  }
  
  .profile-card {
    flex: 0 0 30%; /* Fixes the width to 30% */
  }
  
  .account-overview {
    flex: 0 0 60%; /* Fixes the width to 70% */
  }
  
  